<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/logo.png">
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body style=" background-color: #ebebeb">
    
    <%- include('./partials/header.ejs') %>
    <%- include('./partials/slider.ejs') %>
    <%- include('./partials/horizontalscroller.ejs') %> 

    <div class="aboutsection">

        <div class="coloroverlay">

           <h2 id="aboutheading"> ~|| About Our Club ||~ </h2>
           <p id="abouttext">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit blanditiis expedita laudantium quaerat iste est voluptatem illum rerum! Nihil eaque magni illo ex iusto tenetur ipsam quidem ducimus earum perspiciatis? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati, fugit corrupti. Doloremque unde voluptatum nulla praesentium impedit, non assumenda, fuga voluptatem saepe sunt eos nisi sit quae excepturi facilis deleniti!
           </p>

           <a href="#"><button id="aboutbutton"> Read More </button></a>

        </div>
        
    </div>
    
    <%- include('./partials/pujaschedule.ejs') %>
    <%- include('./partials/indexevent.ejs') %>
    <%- include('./partials/membersubscription.ejs') %>
    <%- include('./partials/whattakeplace.ejs') %>
    <%- include('./partials/videoshowcase.ejs') %>
    <%- include('./partials/logocarousel.ejs') %>
    <%- include('./partials/imageshowcase.ejs') %>
    <%- include('./partials/trophysection.ejs') %>
 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/js/script.js"></script>

</body>
</html>