<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/logo.png">
    <title>Badamtala Ashar Sangha</title>
</head>
<body style=" background-color: #ebebeb">
    
    <%- include('./partials/header.ejs') %>
    <%- include('./partials/slider.ejs') %>
    <%- include('./partials/horizontalscroller.ejs') %> 
    <%- include('./partials/indexabout.ejs') %>
    <%- include('./partials/pujaschedule.ejs') %>
    <%- include('./partials/indexevent.ejs') %>
    <%- include('./partials/membersubscription.ejs') %>
    <%- include('./partials/whattakeplace.ejs') %>
    <%- include('./partials/videoshowcase.ejs') %>
    <%- include('./partials/logocarousel.ejs') %>
    <%- include('./partials/imageshowcase.ejs') %>
    <%- include('./partials/trophysection.ejs') %>
    <%- include('./partials/pujablogs.ejs') %>
    <%- include('./partials/footer.ejs') %>

</body>
</html>